set editing-mode emacs

# do not need leading . when match file names
set match-hidden-files on

# displays the common prefix of the list of possible completions
set menu-complete-display-prefix on

# for too long text in one line
# set horizontal-scroll-mode on

# set completion-prefix-display-length 15

# do not display more than 30 possible completions
set completion-query-items 24
set completion-ignore-case on

# keymaps
TAB: menu-complete
"\C-x\C-r": re-read-init-file
"\C-x\"": "\"\"\C-b"
"\C-x{": "{}\C-b"
"\C-k": kill-whole-line
"\e[15~": "make\n"

"\e[5~": reverse-search-history
"\e[6~": forward-search-history


$if Bash
  "\C-xq": "\eb\"\ef\""
$endif
